body {
  margin: 0;
  font-family: Quicksand;
  text-align: center;
  line-height: 147%;
  background-color: #000000;
  color: #CCC9DC;
  font-size: 18px;
  display: grid;
  margin-right: 180px;
  margin-left: 180px;
}

.navContainer {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  line-height: 130%;
  height: 80px;
}

.navButtons {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: flex-end;
  padding-right: 4px;

}

.navButton {
  font: 24.7218789px;
  margin-left: 8px;
  cursor: pointer;
}

.navButton:hover {
  font-weight: bold;
  text-decoration:underline;
}

.navButton:nth-child(1) {
  margin-left: 400px; /* No margin for the first button */
}

.introContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
}
.hidden {
  opacity: 0;
  transition: all 3.5s;
}

@media(prefers-reduced-motion: reduce) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.aboutContainer {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #000000;
  margin-top: 144px;
  margin-bottom: 144px;;
}
.aboutRow {
  display: flex;
  justify-content: space-evenly;
}
.aboutDescription {
  width: 640px;
}
.aboutText {
  text-align: left;
}
.title {
  font-feature-settings: "clig" off, "liga" off;
  flex-grow: 1;
  flex-basis: auto;
  font-family: Quicksand; line-height: 120.81%; font-size: 48px;
  padding-top: 32px;
  padding-bottom: 24px;
  margin: auto;
}
.name {
  text-align: left;
  padding: 0;
  font-size: 24.7218789px;
  
}
.subTitle {
  font-size: 20.25px; letter-spacing: -2%;
}

.span:hover {
  font-weight: bold;
  cursor: pointer;
  text-decoration:underline;
}


.profilePicture {
  border: 1px solid #1B2A41;
  /* background-color: #0C1821; */
  height: 550px;
  width: 600px;
  border: 50px red;
}
.projectContainer {
  background-color: #000000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 32px;
  border-top: 1px solid;
  
}
.projects {
  display: flex;
  justify-content: space-evenly;
}
.projectImage {
  border: 1px solid #1B2A41;
  background-color: #0C1821;
  width: 400px;
  height: 400px;
  margin-bottom: 4px;
  /*  border: 10px solid purple */
}
.tag {
  border-radius: 149.5px;
  border: 1px solid #1B2A41;
  background-color: #0C1821;
  font-size: 16px;
  line-height: 141.76%;
  letter-spacing: 3%;
  padding: 5px 30px;
  margin: 10px; /* top right bottom left */ 
  display: inline-block;
  width: 55px;
}
.footerContainer {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background-color: #000000;
  display: flex;
  justify-content:center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid;
}
.img {
  flex: 0;
  height: 40px; 
  padding-top: 8px;
  padding-left: 12px;
  padding-bottom: 8px;
}
.img:hover {
  cursor: pointer;
}
