body {
  margin: 0
}

.navContainer {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #222831;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-weight: 400;
  line-height: 130%;
  padding: 0px 80px 18px 0px;
  height: 80px;
}
.aboutContainer {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #393E46;
  height: 650px;
  margin: 0 auto;
  display: 'flex';
  color: #fff;
}
.aboutRow {
  border: 20px solid black;
  display: flex;
  justify-content: space-evenly;
}
.aboutDescription {
  border: 20px solid purple;
}
.title {
  font-feature-settings: "clig" off, "liga" off;
  flex-grow: 1;
  flex-basis: auto;
  font: 40px Merienda One, sans-serif;
  text-align: center;
  padding-top: 25px;
  margin: auto;
} 
.subTitle {
  font-size: 24.7218789px;
}
.profilePicture {
  background-color: #fff;
  height: 550px;
  width: 600px;
  border: 50px red;
}
.projectContainer {
  background-color: #222831;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 600px;
  margin: 0 auto;
  display: 'flex';
  color: #fff;
  text-align: center;
  border: 10px solid white;
}
.projects {
  display: flex;
  justify-content: space-evenly;
}
.projectImage {
  background-color: #fff;
  width: 400px;
  height: 400px;
  border: 10px solid red;
  /*  border: 10px solid purple */
}
.tag {
  border-radius: 149.5px;
  border: 1px solid rgba(0, 173, 181, 1);
  background-color: #393e46;
  padding: 5px 30px;
  margin: 10px; /* top right bottom left */ 
  display: inline-block;
  width: 55px;
}
.footerContainer {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border-color: rgba(0, 173, 181, 1);
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background-color: #252729;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  margin: 25px 50px;/* top right bottom left */
}